<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Stuyvesant Schedule</name>
    <description>
        Stuyvesant Schedule
    </description>
    <author email="jeff.andrew.lin@gmail.com" href="https://github.com/nilffej">
        Jeff Lin
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
</widget>
